<!DOCTYPE html>
<html>

<head>

    <title>Break Approval - Login</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

<div class="login-container">

    <div class="login-card">

        <h1>Break Approval System</h1>

        <p class="subtitle">
            Login to continue
        </p>

        {% with messages = get_flashed_messages() %}

            {% if messages %}

                {% for message in messages %}

                    <div class="alert">
                        {{ message }}
                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}


        <form method="POST">

            <label>
                Username
            </label>

            <input
                type="text"
                name="username"
                required
            >


            <label>
                Password
            </label>

            <input
                type="password"
                name="password"
                required
            >


            <button
                type="submit"
                class="primary-button"
            >
                Login
            </button>

        </form>


        <div class="demo-users">

            <h3>Demo Users</h3>

            <p>
                Analyst:
                <b>analyst1</b> /
                <b>password123</b>
            </p>

            <p>
                SME Hyd:
                <b>smehyd</b> /
                <b>password123</b>
            </p>

            <p>
                SME Kolkata:
                <b>smekol</b> /
                <b>password123</b>
            </p>

            <p>
                QA Hyd:
                <b>qahyd</b> /
                <b>password123</b>
            </p>

            <p>
                QA Kolkata:
                <b>qakol</b> /
                <b>password123</b>
            </p>

            <p>
                Team Lead:
                <b>teamlead</b> /
                <b>password123</b>
            </p>

        </div>

    </div>

</div>

</body>

</html>